/* common */
html {
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
input,
textarea,
p,
blockquote,
th,
td,
textfield,
select {
  margin: 0;
  padding: 0;
}
body {
  color: #666;
  font-size: 13px;
  font-family: "Nanum Gothic", Dotum, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
}
ol,
ul,
li,
dd,
dl,
dt {
  list-style: none;
}

fieldset,
legend {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  display: none;
}
img {
  border: 0;
  vertical-align: top;
}
label {
  cursor: pointer;
}

/* ��ũ */
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

/*������Ʈ
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Gothic Coding', monospace;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Nanum Brush Script', cursive;
*/

/* table common */
table {
  border-collapse: collapse;
}
table caption {
  display: none;
}

/* ��ġ�� */
.pb3 {
  padding-bottom: 3px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb50 {
  padding-bottom: 50px;
}

.pl1 {
  padding-left: 1px;
}
.pl2 {
  padding-left: 2px;
}
.pl3 {
  padding-left: 3px;
}
.pl5 {
  padding-left: 5px;
}
.pl7 {
  padding-left: 7px;
}
.pl8 {
  padding-left: 8px;
}
.pl9 {
  padding-left: 9px;
}
.pl10 {
  padding-left: 10px;
}
.pl13 {
  padding-left: 13px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl21 {
  padding-left: 21px;
}
.pl23 {
  padding-left: 23px;
}
.pl24 {
  padding-left: 24px;
}
.pl25 {
  padding-left: 25px;
}
.pl30 {
  padding-left: 30px;
}
.pl35 {
  padding-left: 35px;
}
.pl40 {
  padding-left: 40px;
}
.pl44 {
  padding-left: 44px;
}
.pl50 {
  padding-left: 50px;
}
.pl230 {
  padding-left: 230px;
}
.pl212 {
  padding-left: 212px;
}

.pr1 {
  padding-right: 1px;
}
.pr3 {
  padding-right: 3px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr25 {
  padding-right: 25px;
}
.pr30 {
  padding-right: 30px;
}
.pr35 {
  padding-right: 35px;
}
.pr40 {
  padding-right: 40px;
}
.pr50 {
  padding-right: 50px;
}
.pr60 {
  padding-right: 60px;
}
.pr70 {
  padding-right: 70px;
}
.pr80 {
  padding-right: 80px;
}
.pr90 {
  padding-right: 90px;
}
.pr100 {
  padding-right: 100px;
}
.pr110 {
  padding-right: 110px;
}
.pr120 {
  padding-right: 120px;
}
.pr130 {
  padding-right: 130px;
}
.pr140 {
  padding-right: 140px;
}
.pr150 {
  padding-right: 150px;
}
.pr182 {
  padding-right: 182px;
}

.pt1 {
  padding-top: 1px;
}
.pt2 {
  padding-top: 2px;
}
.pt3 {
  padding-top: 3px;
}
.pt4 {
  padding-top: 4px;
}
.pt5 {
  padding-top: 5px;
}
.pt6 {
  padding-top: 6px;
}
.pt7 {
  padding-top: 7px;
}
.pt8 {
  padding-top: 8px;
}
.pt9 {
  padding-top: 9px;
}
.pt10 {
  padding-top: 10px;
}
.pt13 {
  padding-top: 13px;
}
.pt15 {
  padding-top: 15px;
}
.pt18 {
  padding-top: 18px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt29 {
  padding-top: 29px;
}
.pt30 {
  padding-top: 30px;
}
.pt35 {
  padding-top: 35px;
}
.pt40 {
  padding-top: 40px;
}
.pt66 {
  padding-top: 65px;
}
.pt130 {
  padding-top: 130px;
}
.pt146 {
  padding-top: 146px;
}

.ml2 {
  margin-left: 2px;
}
.ml3 {
  margin-left: 3px;
}
.ml5 {
  margin-left: 5px;
}
.ml6 {
  margin-left: 6px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml17 {
  margin-left: 17px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml28 {
  margin-left: 28px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.ml50 {
  margin-left: 50px;
}
.ml60 {
  margin-left: 60px;
}
.ml70 {
  margin-left: 70px;
}

.mr1 {
  margin-right: 1px;
}
.mr3 {
  margin-right: 3px;
}
.mr5 {
  margin-right: 5px;
}
.mr7 {
  margin-right: 7px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mr40 {
  margin-right: 40px;
}
.mr50 {
  margin-right: 50px;
}
.mr60 {
  margin-right: 60px;
}

.mt1 {
  margin-top: 1px;
}
.mt2 {
  margin-top: 2px;
}
.mt3 {
  margin-top: 3px;
}
.mt5 {
  margin-top: 5px;
}
.mt8 {
  margin-top: 8px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}

.lh110 {
  line-height: 110%;
}
.lh120 {
  line-height: 120%;
}
.lh130 {
  line-height: 130%;
}
.lh140 {
  line-height: 140%;
}
.lh150 {
  line-height: 150%;
}
.lh160 {
  line-height: 160%;
}
.lh180 {
  line-height: 180%;
}
.lh200 {
  line-height: 200%;
}

.vt {
  vertical-align: top;
}
.vm {
  vertical-align: middle;
}
.vb {
  vertical-align: bottom;
}

.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}

.cl {
  clear: left;
}
.cr {
  clear: right;
}
.cb {
  clear: both;
}

.fl {
  float: left;
}
.fr {
  float: right;
}

.ft_11 {
  font-size: 11px;
}
.ft_12 {
  font-size: 12px;
}
.ft_14 {
  font-size: 14px;
  letter-spacing: -1px;
}
.ft_15 {
  font-size: 15px;
  letter-spacing: -1px;
}
.ft_16 {
  font-size: 16px;
  letter-spacing: -1px;
}
.ft_17 {
  font-size: 17px;
  letter-spacing: -1px;
}
.ft_18 {
  font-size: 18px;
  letter-spacing: -1px;
}

.btn_tr {
  width: 100%;
  overflow: hidden;
  text-align: right;
}
.btn_tc {
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.btn_tl {
  width: 100%;
  overflow: hidden;
  text-align: left;
}

.hidden {
  display: none;
}

/*font_color*/
.c_black {
  color: #555;
}
.c_blackb {
  color: #555;
  font-weight: 900;
}
.c_pink {
  color: #fe06d8;
}
.c_pinkb {
  color: #fe06d8;
  font-weight: 900;
}
.c_red {
  color: #d71a01;
}
.c_redb {
  color: #d71a01;
  font-weight: 900;
}
.c_blue {
  color: #007ac8;
}
.c_blueb {
  color: #007ac8;
  font-weight: 900;
}
.c_green {
  color: #56a509;
}
.c_greenb {
  color: #56a509;
  font-weight: 900;
}
.c_cyan {
  color: #01b78a;
}
.c_cyanb {
  color: #01b78a;
  font-weight: 900;
}
.c_violet {
  color: #ad07ea;
}
.c_violebt {
  color: #ad07ea;
  font-weight: 900;
}
.c_orange {
  color: #ff960d;
}
.c_orangeb {
  color: #ff960d;
  font-weight: 900;
}
.c_yellow {
  color: #ffd304;
}
.c_yellowb {
  color: #ffd304;
  font-weight: 900;
}

.select_box {
  border: 1px solid #ccc;
  font-size: 12px;
  font-family: "Nanum Gothic", Dotum, sans-serif;
  vertical-align: middle;
  height: 23px;
  color: #666;
}
.input_text {
  border: 1px solid #e0e0e0;
  font-size: 12px;
  font-family: "Nanum Gothic", Dotum, sans-serif;
  vertical-align: middle;
  padding: 4px 0 3px 0;
  color: #666;
}
.input_radio {
  border: none;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  color: #666;
}
.text_area {
  border: 1px solid #e0e0e0;
  font-size: 12px;
  font-family: "Nanum Gothic", Dotum, sans-serif;
  vertical-align: middle;
  width: 98%;
  height: 100px;
  line-height: 140%;
  color: #666;
}
